# Dependencies
node_modules/
package-lock.json

# Environment files
.env
.env.*
!.env.example

# Next.js
.next/
out/

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pino-pretty.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vercel
.vercel

# Testing
coverage/

# Debug
*.pem
